body {
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.logo-text1 {
  color: #4d5ae5;
  font-family: "Raleway", system-ui;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166;
}
.logo-text2 {
  color: #2e2f42;
  font-family: "Raleway", system-ui;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166;
}
.page-nav .link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.page-nav .link:hover {
  color: #404bbf;
}

.page-nav .link:active {
  color: #404bbf;
  text-decoration: underline;
}
address .link {
  color: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
address .link:hover {
  color: #404bbf;
}
.page-hero {
  background-color: #2e2f42;
}
.page-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.071;
  text-align: center;
}
.page-hero button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.page-hero button:hover {
  background-color: #404bbf;
}
.categorie-list h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.categorie-list p {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.team {
  background-color: #f4f4fd;
}
.team h2,
.portfolio h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  text-align: center;
}
.team-list h3,
.portfolio h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.team-list p,
.portfolio p {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.portfolio {
  background-color: #e7e9fc;
}
footer {
  background-color: #2e2f42;
}

footer .logo-text2 {
  color: #f4f4fd;
  font-family: "Raleway", system-ui;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166;
}

footer .text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
}
